<div class="container">
    <h3 class="text-center text-white">About</h3>
    <div class="app-cont-pokew pt-1 ">

        <div class="d-flex justify-content-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" class="img-fluid"
                alt="pikachu">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/55.png" class="img-fluid"
                alt="pikachu">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" class="img-fluid"
                alt="pikachu">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/50.png" class="img-fluid"
                alt="pikachu">
        </div>

        <p class="display-5 text-white">
            <strong>Pokemon all</strong> is a website that consumes all the pokemons from pokeapi, where you can see the characteristics of the
            pokemons and catch them and add them to your pokemons, give them an alias, or release them again if you prefer.
        </p>

    </div>
</div>