<div class="container">
    <h3 class="text-center text-white">Pokemon all</h3>
    <div class="app-cont-pokew pt-1 ">

        <div class="d-flex justify-content-center">
            <img height="100" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/52.png"
                alt="pikachu">
        </div>

        <p class="display-5 text-white">
            <strong>Upss</strong> An error has occurred
        </p>

        <a href="/" class="btn btn-secondary btn-lg"> back</a>

    </div>
</div>