<div class="container">
    <h3 class="text-center text-white">My Pokemons</h3>
    <div class="app-cont-pokew pt-1">
        <div class="content-data w-100">
            <table class="table table-dark table-striped table-hover mb-3">
                <thead>
                    <tr>
                        <th class="text-warning">Pokemon</th>
                        <th class="text-warning">name</th>
                        <th class="text-warning">Alias</th>
                        <th class="text-warning">Exp</th>
                        <th class="text-warning">HP</th>
                        <th class="text-warning">Attack</th>
                        <th class="text-warning">defense</th>
                        <th class="text-warning">speed</th>
                        <th class="text-warning text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{{listpokemons result}}}
                </tbody>
            </table>
        </div>

    </div>
</div>