<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeALl</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
    {{!-- links --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav class="navbar  mb-5" style="background-color:rgba(0,4,5,0.3);">
        <div class="container-fluid">
            <a class="navbar-brand app-title">Pokemon-All</a>
            <form class="d-flex" role="search">
                <a class="btn text-white" href="/" role="button">Pokemonworld</a>
                <a class="btn text-white" href="/mypokemons" role="button">My Pokemons</a>
                <a class="btn text-white" href="/about" role="button">About</a>
            </form>
        </div>
    </nav>
    
    {{{body}}}    

    <footer class="w-100">
        <p class="text-center">
            &copy; 2022 efdev
        </p>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/customapp.js"></script>
    <script src="/js/capture.js"></script>
    <script src="/js/actionmypoke.js"></script>
</body>
</html>